<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>DAF - Detalles de productos</title>

    <link rel="stylesheet" href="../../public/css/body.css"/>
</head>
<body class="font-sans bg-white text-gray-800">

<!--header-->
  <header>
    <div class="logo-area">
      <img src="../../public/images/logo.jpeg" alt="DAF Logo">
      <h1>Decoraciones de Arreglos Florales</h1>
    </div>

    <nav>
      <a href="index.html">Home</a>
      <a href="products.html">Productos</a>
      <a href="contact.html">Contáctanos</a>
      <a href="carrito.html" class="cart-btn">🛒</a>
    </nav>
  </header>

<!--Titulo detalles-->
<div class="max-w-6xl mx-auto px-4 mt-8 text-center">
    <h1 class="text-3xl font-bold text-orange-800">Detalles de productos</h1>
    <p class="mt-1 text-orange-900/70">Explora opciones, flores sugeridas, usos ideales y precios de referencia.</p>
</div>

<!--Listado de detalles-->
<section class="max-w-6xl mx-auto px-4 my-10 space-y-8" id="products">

    </article>

    <!-- POPUP ÉXITO -->
  <div id="popupExito"
      class="fixed top-5 right-5 bg-green-600 text-white py-3 px-5 rounded shadow hidden z-50">
  </div>

  <!-- POPUP ERROR -->
  <div id="popupError"
      class="fixed top-5 right-5 bg-red-600 text-white py-3 px-5 rounded shadow hidden z-50">
  </div>

</section>

<!--Pie de pagina-->
<!-- Footer -->
<footer id="contacto">
    <div class="footer-container">

        <div class="brand-section">
            <img src="../../public/images/logo.jpeg" alt="DAF Logo" class="logo">

            <div class="social-icons">
                <img src="../../public/images/footer/facebook.png" alt="Facebook">
                <img src="../../public/images/footer/messenger.png" alt="Instagram">
                <img src="../../public/images/footer/whatsapp.png" alt="WhatsApp">
            </div>
        </div>

        <div class="contact-section">
            <h4>📞 Contactos</h4>
            <p>+593 000000000</p>
            <p>+593 000000000</p>
            <p>dafdecoraciones@gmail.com</p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../../public/js/detail.js"></script>
</footer>
</body>
</html>
